@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;

}
.header{
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header ul{
    display: flex;
    gap: 30px;
    font-size: 20px;
    list-style: none;
    padding: 14px 50px;
}
.button1{
     border: none;
     border-radius: 8px;
     padding: 14px 50px;
     font-size: 28px;
     color: white;
     background-color: #204E51;
}
.button2{
    border: 2px #204E51 solid;
    border-radius: 8px;
    padding: 14px 50px;
    font-size: 28px;
    color: #204E51;
    margin-left: 10px;
    
}
.hero{
    height: 650px;
    background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1483232539664-d89822fb5d3e?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGhvdG8lMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww);
    background-repeat: none;
    background-size: 100% 650px;
    text-align: center;
    color: white;
    
}
.hero h1{
    padding-top: 100px;
    font-size: 100px;
    font-weight: bold;
    padding-bottom: 10px;
    

}
.hero p{
    margin-bottom:70px;
    font-size: 20px;
    height: 10px;
    margin-left: 150px;
    margin-right: 150px;
}
#button2{
    background-color: transparent;
    color:white;
    border: 2px white solid;
}
.left, .right{
    width: 670px;
}
.parent{
    margin-top: 130px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;

}
.right img{
    width: 600px;
    height: 550px;
    border-radius:20px;

}
.left h1{
    font-size: 50px;
    margin-bottom: 23px;
}
.left p{
    font-size: 30px;
    margin-bottom: 20px;
} 
.right{
    position: relative;

}
.poss{
    border: 1px cornflowerblue solid;
    border-radius: 8px;
    padding: 14px 50px;
    font-size: 28px;
    color: #204E51;
    background-color: #204E51;
    bottom: -20px;
    right: 200px;
    background-color: white;
    position: absolute;
    
}
.parent{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 100px;
    margin-top: 30px;
}
.servise1{
    border-radius: 22px;
    text-align: center;
    margin: 10px;
    width: 280px;
    height: 200px;
    background-color: lightblue;
    

}
.servise1 img{
    padding-top: 20px;
}
.servise{
    text-align: center;
}
.product-parent{
    margin: 30px 50px;
    display: grid;
    grid-template-columns: repeat(4, 280px);
    column-gap: 40px;
    justify-content: center;
}

.product1{
    border-radius: 20px;
    width: 100%;
    height: 500px;
    background-color:lightskyblue;
    margin: 20px;
    text-align: center;
}
.product{
    margin: 100px;
    font-size: 4opx;
}
.product1 img{
    margin-top: 30px;
    width: 200px;
    border-radius: 18px;
    align-items: center;
    height: 190px;
}
.product1 p{
    padding: 20px;
    line-height: 22px;
}
.product1 h1{
    padding: 20px 1px;
    font-size: 40px;
}
.body{
    padding: 30px;
    height: 470px;
    background-repeat: none;
    background-size: 100% 470;
    color: white;
    background-image:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(https://www.ewg.org/sites/default/files/styles/wide_standard_xl/public/2022-10/FarmBlog2.jpg?h=2e181f1f&itok=LmfH0ABW);


}
.body{
    margin-bottom: 50px;
    font-size: 30px;
}
.benifit-parent{
    display: flex;
    justify-content: space-around;
}
.benefit1{
    margin-top: 100px;
    width: 490px;
}
.benefit1 h1{
    font-size: 50px;
}
.benifit2{
    width: 500px;
    height: 550px;
    background-color: #204E51;
    border-radius: 20px;
    color: white;
}
.icon-parent{
    display: flex;
    margin-left: 50px;
    margin-top: 30px;
    align-items:center;
    gap: 60px;
    
}
.icon-parent i{
    font-size: 60px;

}
.icon-parent h1{
    margin-top: 20px;
    font-size: 50px;
}
.benefit1 p{
    padding-bottom: 20px;
}
.benifit-parent span{
    color: blue;
}
.footer{
    margin: 100px;
    font-size: 4opx;

   
}
.footer1{
    width: 800px;
    height: 300px;
    background-color: #204E51;
    margin: 100px;
    margin-left: 30px;
    border-radius: 20px;
    display:flex ;
}
.footer-image img{
    width: 200px;
    height: 150px;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 20px;
    margin-bottom: 50px;

}
.footer1-text{
    color: white;
    margin-left: 40px;
    margin-top: 50px;
    line-height: 20px;
}
.footer1-text i{
    padding-bottom: 30px;
}



.blog-parent{
    margin: 30px 50px;
    display: grid;
    grid-template-columns: repeat(4, 280px);
    column-gap: 40px;
    justify-content: center;
   
}
.child{
    border-radius: 20px;
    width: 100%;
    height: 500px;
    margin: 20px;
    text-align: center;
    margin-left: 100px;
  
}
.child img{
    margin-top: 30px;
    width: 250px;
    border-radius: 18px;
    align-items: center;
    height: 310px;
    

}
.blog-1{
    margin: 100px;
    font-size: 4opx;


}
.blog-1 p{
    height: 2px;
}
.footer{
    height: 600px;
    background-color: #204E51;
    background-repeat: none;
    background-size: 100% 650px;
    color: white;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}
#menuicon{
    display: none;
}

@media screen and (max-width:600px) {
    .header ul{
        display: none;

    }
    .btn{
        display: none;
    }
   #menuicon{
    font-size: 50px;
    display: block;
   }
    .header h1{
        font-size: 50px;
        margin-top: 15px;

    }
    .hero h1{
        font-size: 30px;

    }
    .hero p{
        margin-top: 25px;
        margin: 0;
        font-size: 12px;
    }
    .parent{
        flex-direction: column;
    }

    .btn1 {
        flex-direction: column;
        margin-top: 200px;
    }
    .btn1 .button1{
        margin-bottom: 20px;
    }
    .left, .right{
        width: 300px;
        margin: 20px;
    }
    .right img{
        margin-top: 20px;
        width: 300px;
    }
    .servise p {
        margin: 50px 18px;
        font-size: 16px;
    }
    .parent{
        flex-direction: column;
        margin-left: 30px;
    }
    
    .product p{
        margin: 50px 18px;
        font-size: 16px;
    }
    .product h1{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .product-parent{
        margin: 12px;
        grid-template-columns: 300px;
        row-gap: 40px;
    }
    .product{
        margin: 14px;
    }
    benefit-parent{
        flex-direction: column;

    }
    .benefit1 h1{
        font-size: 40px;
    }
    .benefit1{
        width: 300px;
        margin: 30px;
    }
    .benefit2{
        width: 320px;
        margin: 30px;
    }
    .body h1{
        font-size: 20px;
        margin-bottom: 12px

    }
    .body{
        height: 250px;
    }
    .btn2 .button1{
        margin-bottom: 30px;
        margin-left: 10px;
    }
}
